:root {
    --foreground: #FF9E0D;
    --background: #FFDEAE;
    --content-bg: #FFC874;
    --border: #c26b29;
    --deleted: #a1a1a1;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background: var(--background);
    font-family: "Arial", "Helvetica", sans-serif;
}

body > * {
    padding: 0;
    margin: 0;
    width: 100%;
}

input {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

input[type="button"],
input[type="submit"] {
    background: white;
    font-weight: bold;
    font-variant: small-caps;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background: var(--foreground);
    font-weight: bold;
    font-variant: small-caps;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

#top-bar {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    background: var(--foreground);
}

#accountInfo {
    width: max-content;
    height: 100%;
    margin: auto 0 auto auto;
}

#accountInfo > form {
    display: inline-block;
    width: max-content;
    height: 100%;
    align-content: center;
    padding: 0 10px 0 10px;
}

#accountInfo > form > input[type="text"],
#accountInfo > form > input[type="password"] {
    height: max-content;
    width: 150px;
    margin: auto 5px;
}

#accountInfo > form > input[type="button"],
#accountInfo > form > input[type="submit"] {
    height: 70%;
    padding: 0 5px 0 5px;
    width: max-content;
}

#accountInfo > p {
    display: inline-block;
    width: max-content;
    height: 100%;
    align-content: center;
    padding: 0 10px 0 10px;
    margin: 0;
}

#banner {
    width: 900px;
    margin: 10px auto;
}

#banner > img {
    display: block;
    width: 100%;
    height: 140px;
}

#banner > nav {
    height: 35px;
    background: var(--foreground);
}

#banner > nav > ul {
    height: 100%;
    margin: 0;
    padding: 0 5px;
    align-content: center;
}

#banner > nav > ul > li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid var(--border);
    width: 70px;
    border-radius: 5px;
    background: white;
    margin: 0 5px;
    padding: 3px 7px;
}

#banner > nav > ul > li:hover {
    display: inline-block;
    list-style-type: none;
    border: 2px solid var(--border);
    border-radius: 5px;
    background: var(--content-bg);
    margin: 0 5px;
    padding: 3px 7px;
}

#banner > nav > ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-variant: small-caps;
    text-decoration: none;
}

#main-content {
    width: 900px;
    margin: 0 auto;
}

.fullsize {
    width: 100%;
}

.midleft {
    float: left;
    width: 690px;
}

.smallright {
    float: right;
    width: 200px;
}

main,
aside > section {
    width: 100%;
}

section.title {
    height: 35px;
    background: var(--foreground);
}

section.title > h1 {
    color: white;
    height: 100%;
    width: max-content;
    font-weight: bold;
    font-size: 1.5em;
    align-content: center;
    margin: 0 0 0 10px;
}

section.content {
    width: calc(100% - 40px);
    padding: 20px;
    background: var(--content-bg);
}


section.content > article {
    float: left;
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--foreground);
    padding: 10px 8px 10px 20px;
    margin: 0 18px 16px 0;
    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

section.content > article.deleted {
    background: var(--deleted);
}

article > p.badge {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

article > p.badge#docentebadge {
    background: #ff0d0d;
}

article > p.badge#segretariobadge {
    background: #4aa500;
}

section.content input[type="button"],
section.content input[type="submit"],
section.content button {
    background: white;
    font-weight: bold;
    font-variant: small-caps;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

section.content input[type="button"]:hover,
section.content input[type="submit"]:hover,
section.content button:hover {
    background: var(--foreground);
    font-weight: bold;
    font-variant: small-caps;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

footer {
    background: var(--foreground);
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Assicura che il footer sia spinto verso il basso */
}

footer p {
    margin: 10px 0 10px;
}

.profile-image {
    width: 150px; /* Imposta la larghezza */
    height: 150px; /* Imposta l'altezza */
    border-radius: 50%; /* Rende l'immagine circolare */
    object-fit: cover; /* Assicura che l'immagine copra completamente l'area senza perdere le proporzioni */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
    transition: transform 0.3s ease; /* Effetto di transizione all'hover */
    margin-left: 42px;
}

.profile-image:hover {
    transform: scale(1.05); /* Ingrandisce leggermente l'immagine all'hover */
}

/* Stili aggiuntivi per migliorare la visualizzazione del form*/
form {
    /*display: flex;
    flex-direction: column; */
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formSubmit {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



fieldset {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    padding: 0 10px;
    color: var(--foreground);
    font-weight: bold;
}
label{
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

form label {
    color: var(--foreground);
}

/* Stile per le label dei checkbox */
input[type="checkbox"] + label {
    display: inline-block;
}
input[type="radio"] + label {
    display: inline-block;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="file"],
input[type="tel"],
select,
textarea {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}
input[type="radio"] {
    display: inline-block;
    margin-right: 10px; /* Aggiunge un po' di spazio tra i radio button */
}

/*
button[type="submit"] {
    background: var(--foreground);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: var(--border);
}*/

.logInOut {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}

