:root {
    --foreground: #FF9E0D;
    --background: #FFDEAE;
    --content-bg: #FFC874;
    --border: #c26b29;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: var(--background);
    font-family: "Arial", "Helvetica", sans-serif;
}

body>* {
    padding: 0;
    margin: 0;
    width: 100%;
}

input {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}


input[type="button"], input[type="submit"] {
    background: white;
    font-weight: bold;
    font-variant: small-caps;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    background: var(--foreground);
    font-weight: bold;
    font-variant: small-caps;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

#top-bar {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    background: var(--foreground);
}

#accountInfo {
    width: max-content;
    height: 100%;
    margin: auto 0 auto auto;
}

#accountInfo>form {
    display: inline-block;
    width: max-content;
    height: 100%;
    align-content: center;
    padding: 0 10px 0 10px
}

#accountInfo>form>input[type="text"],
#accountInfo>form>input[type="password"] {
    height: max-content;
    width: 150px;
    margin: auto 5px;
}

#accountInfo>form>input[type="button"],
#accountInfo>form>input[type="submit"] {
    height: 70%;
    padding: 0 5px 0 5px;
    width: max-content;
}

#accountInfo>p {
    display: inline-block;
    width: max-content;
    height: 100%;
    align-content: center;
    padding: 0 10px 0 10px;
    margin: 0;
}

#banner {
    width: 900px;
    margin: 10px auto;
}

#banner>img {
    display: block;
    width: 100%;
    height: 140px;
}

#banner>nav {
    height: 35px;
    background: var(--foreground);
}

#banner>nav>ul {
    height: 100%;
    margin: 0;
    padding: 0 5px;
    align-content: center;
}

#banner>nav>ul>li {
    display: inline-block;
    list-style-type: none;
    border: 2px solid var(--border);
    width: 70px;
    border-radius: 5px;
    background: white;
    margin: 0 5px;
    padding: 3px 7px;
}

#banner>nav>ul>li:hover {
    display: inline-block;
    list-style-type: none;
    border: 2px solid var(--border);
    border-radius: 5px;
    background: var(--content-bg);
    margin: 0 5px;
    padding: 3px 7px;
}

#banner>nav>ul>li>a {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-variant: small-caps;
    text-decoration: none;
}

#main-content {
    width: 900px;
    margin: 0 auto;
}

.fullsize {
    width: 100%;
}

.midleft {
    float: left;
    width: 690px;
}

.smallright {
    float: right;
    width: 200px;
}

main,aside>section {
    width: 100%;
}

section.title {
    height: 35px;
    background: var(--foreground);
}

section.title>h1 {
    color: white;
    height: 100%;
    width: max-content;
    font-weight: bold;
    font-size: 1.5em;
    align-content: center;
    margin: 0 0 0 10px;
}

section.content {
    width: calc(100% - 40px);
    padding: 20px;
    background: var(--content-bg);
}

section.content>article {
    float: left;
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--foreground);
    padding: 10px 8px 10px 20px;
    margin: 0 18px 16px 0;
    background: linear-gradient(to right,#fdfbfb,#ebedee);
}